argh==0.26.2
args==0.1.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cowsay==4.0
crypto==1.4.1
figcow==1.0.2
idna==2.10
Naked==0.1.31
pycryptodome==3.10.1
PyYAML==5.4.1
requests==2.25.1
shellescape==3.8.1
urllib3==1.26.6
wincertstore==0.2
